<hr>
<p class="text-center">This page allows you to generate an agent lead history report.
    <br>
    <br>
    You can search for an agent using the search bar to filter the list.
    <br>
    <br>
    After you find your agent you can click the generate report button to generate a report with all the leads the agent has submitted 
    since being on the system or click the download PDF button to download a copy of all the leads the selected agent has submitted.
</p>
<hr>
<div class="loginpic">
<img style="width: 250px; height: 200px;" class="display-inline-block" [src]="imageUrl">
</div>
<hr>
<div class="form-group">
    <button class=" btn-sm btn-danger text-white" [mat-dialog-close]><i class="fa fa-window-close"></i> Close</button>
</div> 

