<div class="jumbotron">
  <h1 class="display-4 text-center">Suppliers</h1>
  <hr>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder= "Search" aria-label="Search Supplier" aria-label="SearchAgent"  [(ngModel)]="SearchCountries" autocomplete="off">
  </div>

<br>
<a routerLink="/supplier">
  <button class="btn btn-xs btn-outline-success" ><i class="far fa-plus-square"></i> Add Supplier</button> 
  </a>
  <br>
  <br>

<table class="table table-hover" id="myTable">
<tr class="trhead">
       
        <th>Supplier Name</th>
        <th>Supplier Physical Address</th>
        <th>Supplier Contact No</th>
        <th>Supplier Email Address</th>
        <th></th>
        <th></th>
        
    </tr>
    <tr *ngFor="let at of data | filter: SearchCountries">
        <td >{{at.SUPPLIER_NAME}}</td>
        <td >{{at.SUPPLIER_PHYSICAL_ADDRESS}}</td>
        <td >{{at.SUPPLIER_CONTACT_NO}}</td>
        <td >{{at.SUPPLIER_EMAIL_ADDRESS}}</td>
        <td>
          <td >    
            <a routerLink="/suppliers/{{at.SUPPLIER_ID}}">
              <button class="btn btn-xs btn-outline-info "(click)="populateForm(at)">Update</button> 
            </a>
              <button class="btn btn-xs btn-outline-danger ml-1" (click)="onDelete(at.SUPPLIER_ID)" >Delete</button> 
          </td>
       
    </tr>
</table>
</div>





