
<div class="card" style="width: 60rem;  padding-top: 20px; padding-right: 30px; padding-bottom: 20px; padding-left: 30px; color: grey;">
    <div class="card-body">
        <div class="row">
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <a class="btn btn-sm btn-secondary text-white btn-block"  routerLink='/login' routerLinkActive='active' ><i class="fa fa-sign-in-alt"></i> Sign In</a>
                    </td>
                    <td>
                        <a class="btn btn-sm btn-secondary text-white btn-block" routerLink='/agentreg' routerLinkActive='active'><i class="fa fa-user-plus"></i> Sign Up</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
<br>
<br>
<br>
<br>
<br>
<br>


