<div class="jumbotron">
    <h1 class="display-4 text-center">Contact Us</h1> 
<hr>


<div class="body">
    <h1> WELCOME</h1>
    
     
    <p>
    Deal Leader Group is a proudly South African company that was established in 2016.
    The founders of Deal Leader Group spotted a gap in the aerospace and defense sector for experienced business development personnel; to track down leads, transforming into opportunities, mold them into prospects and finally conclude with a contact.
    </p>
    
    <h2> Description of the organization</h2>
    <p>Deal Leader Group is a global marketing, business development and consultancy company in the aerospace and defense sector. Deal Leader Group has one Director and four Business Development Executives, based in: South Africa, Switzerland, United States of America and Hungary. Deal Leader Group specializes in Aerospace and Defense. Their business environment is highly competitive, extremely challenging, very technical and politically charged. Deal Leader 
    Group has a 2 to 3 year turn around, from starting at a lead and concluding with a contract.
    </p>
    <h3>General contact particulars</h3>
    <p>
      
    
    Leading IT Solutions is dealing with 
    the Business Development Executive based in
     South Africa, Colin Singarum. Mr. Singarum has been in the aerospace and defense industry for more than 20 years. Mr. Singarum is hands on with tracking down leads internationally, transforming these leads into the opportunities, molding them into prospects and concluding contracts with the clients. We have received the future system specifications as well as a thorough overview of the business environment Deal Leader Group is involved in. Mr Singarum will be our liaison during the project.
    
    </p>
    
    
    
        <!-- <div> -->
          <h4><b>For More Information</b></h4>
          <p>
            Colin Singarum
            <br>
    Deal Leader Group – Business Development Executive 
    <br>
    colinsingarum@gmail.com
    <br>
    083 388 4050
    
          </p>
        <!-- </div> -->
    
    </div>
    
</div>
