<div class="loginpic">
    <div class="form-group" *ngFor="let at of AgentDetails | async" >

        <a class="display-4 text-center" style="color: white;">{{"Welcome Back "}} </a>
        <br>
        <a class="display-4 text-center" style="color: white;">{{at.AGENT_NAME + " " + at.AGENT_SURNAME}} </a>

    </div>
    <div class="form-group" *ngFor="let at of employeeDetails | async" >

        <a class="display-4 text-center" style="color: white;">{{"Welcome Back "}} </a>
        <br>
        <a class="display-4 text-center" style="color: white;">{{at.EMPLOYEE_NAME + " " + at.EMPLOYEE_SURNAME}} </a>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>



