<div class="jumbotron">
    <h1 class="display-4 text-center">Update Product Category</h1>
    <a class="btn btn-sm btn-info text-white" (click)="openInfo()"><i class="fas fa-info-circle"></i> Click me for help</a>
    <hr>
<form #form="ngForm"  (submit)="onSubmit(form)" autocomplete="off">
    <div class="form-group">
        <input type="hidden" name="PRODUCT_CATEGORY_ID" #PRODUCT_CATEGORY_ID="ngModel" [(ngModel)]="service.formData.PRODUCT_CATEGORY_ID">

    </div>


    <div class="form-group">
        <label>Product Category Name</label>
        <input placeholder="Enter Product Category Name" name="PRODUCT_CATEGORY_NAME" 
        #PRODUCT_CATEGORY_NAME="ngModel" [(ngModel)]="service.formData.PRODUCT_CATEGORY_NAME" 
        class="form-control" 
        required
        pattern="[a-zA-Z\s]+"
        minlength="2">
        <div class="validation-error" *ngIf="PRODUCT_CATEGORY_NAME.invalid && PRODUCT_CATEGORY_NAME.touched">
            <div  *ngIf="PRODUCT_CATEGORY_NAME.errors.required">
                This field is required.</div>
            <div  *ngIf="PRODUCT_CATEGORY_NAME.errors.pattern ">
                Product Category Name can contain no numbers!</div>
            <div *ngIf="PRODUCT_CATEGORY_NAME.errors.minlength ">
                Product Category Name should be atleast 2 characters.</div>
        </div> 
    </div>
    <div class="form-group">
        <label>Product Category Description</label>
        <input  placeholder="Enter Product Category Description" 
         name="PRODUCT_CATEGORY_DESCRIPTION" #PRODUCT_CATEGORY_DESCRIPTION="ngModel" 
         [(ngModel)]="service.formData.PRODUCT_CATEGORY_DESCRIPTION" 
         class="form-control" 
         required
         pattern="[a-zA-Z\s]+"
         minlength="2"
         >
         <div class="validation-error" *ngIf="PRODUCT_CATEGORY_DESCRIPTION.invalid && PRODUCT_CATEGORY_DESCRIPTION.touched">
            <div  *ngIf="PRODUCT_CATEGORY_DESCRIPTION.errors.required">
                This field is required.</div>
            <div  *ngIf="PRODUCT_CATEGORY_DESCRIPTION.errors.pattern ">
                Product Category Name can contain no numbers!</div>
            <div *ngIf="PRODUCT_CATEGORY_DESCRIPTION.errors.minlength ">
                Product Category Name should be atleast 2 characters.</div>
        </div> 
    </div>

    <div class="w3-show-inline-block" >
        <div class="w3-show-inline-block" >
            <button type="submit" [disabled]="form.invalid" class="btn btn-xs btn-info">Save</button>
            <a routerLink="/productcategorylist">
            <button class="btn btn-xs btn-danger ml-1"  >Return </button></a>
        </div>
    </div>

 
</form>
</div>
