
<div class="jumbotron">
        <h1 class="display-4 text-center">Update Employee</h1>                    
        <!-- <a class="btn btn-sm btn-info text-white" (click)="openInfo()"><i class="fas fa-info-circle"></i> Click me for help</a> -->
    <hr>
        <form #form="ngForm" autocomplete="off" *ngIf="service.formData" (submit)="onSubmit(form, $event)"  class="center">
            <input type="hidden" name="EMPLOYEE_ID" #EMPLOYEE_ID="ngModel" [(ngModel)]="service.formData.EMPLOYEE_ID">
            <div class="form-group">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Firstname</label>
                    <input placeholder="Employee Name"
                        name="EMPLOYEE_NAME" #EMPLOYEE_NAME="ngModel" 
                        [(ngModel)]="service.formData.EMPLOYEE_NAME" 
                        class="form-control " 
                        required
                        pattern="[a-zA-Z][a-zA-Z]+"
                        maxlength="50"
                        minlength="2">
                    <div class="validation-error" *ngIf="EMPLOYEE_NAME.invalid && EMPLOYEE_NAME.touched">
                        <div  *ngIf="EMPLOYEE_NAME.errors.required">
                            This field is required.</div>
                        <div  *ngIf="EMPLOYEE_NAME.errors.pattern ">
                            Name can contain no numbers!</div>
                        <div *ngIf="EMPLOYEE_NAME.errors.minlength ">
                            Name should be atleast 2 characters.</div>
                        <div *ngIf="EMPLOYEE_NAME.errors.maxlength ">
                            Name cannot be more than 50 characters.</div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label>Surname</label>
                    <input placeholder="Employee Surname"
                        name="EMPLOYEE_SURNAME" #EMPLOYEE_SURNAME="ngModel" 
                        [(ngModel)]="service.formData.EMPLOYEE_SURNAME" 
                        class="form-control" required
                        pattern="[a-zA-Z][a-zA-Z]+"
                        maxlength="50"
                        minlength="2">
                    <div class="validation-error" *ngIf="EMPLOYEE_SURNAME.invalid && EMPLOYEE_SURNAME.touched">
                        <div  *ngIf="EMPLOYEE_SURNAME.errors.required">
                            This field is required.</div>
                        <div  *ngIf="EMPLOYEE_SURNAME.errors.pattern ">
                            Surname can contain no numbers!</div>
                        <div *ngIf="EMPLOYEE_SURNAME.errors.minlength ">
                            Surname should be atleast 2 characters.</div>
                        <div *ngIf="EMPLOYEE_SURNAME.errors.maxlength ">
                            Surname cannot be more than 50 characters.</div>
                </div>
            </div>   
            </div>
            <div class="form-row">
                <div class="form-group col-md-6"> 
                    <label>ID No.</label>
                    <input placeholder="Employee ID Number"
                        name="EMPLOYEE_ID_NO" #EMPLOYEE_ID_NO="ngModel" 
                        [(ngModel)]="service.formData.EMPLOYEE_ID_NO" 
                        class="form-control" required
                        pattern="[0-9]*"
                        maxlength="13"
                        minlength="8">
                    <div class="validation-error" *ngIf="EMPLOYEE_ID_NO.invalid && EMPLOYEE_ID_NO.touched">
                        <div *ngIf="EMPLOYEE_ID_NO.errors.required">
                            This field is required.</div>
                        <div *ngIf="EMPLOYEE_ID_NO.errors.pattern ">
                            ID Number can only contain numbers!</div>
                        <div *ngIf="EMPLOYEE_ID_NO.errors.minlength ">
                            ID Number should be atleast 8 characters.</div>
                        <div *ngIf="EMPLOYEE_ID_NO.errors.maxlength ">
                            ID Number cannot be more than 13 characters.</div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>Passport Number</label>
                <input placeholder="Employee Passport Number"
                    name="EMPLOYEE_PASSPORT_NO" #EMPLOYEE_PASSPORT_NO="ngModel" 
                    [(ngModel)]="service.formData.EMPLOYEE_PASSPORT_NO" 
                    class="form-control" 
                    required
                    maxlength="10"
                    minlength="6">
                <div class="validation-error" *ngIf="EMPLOYEE_PASSPORT_NO.invalid && EMPLOYEE_PASSPORT_NO.touched">
                    <div *ngIf="EMPLOYEE_PASSPORT_NO.errors.required">
                        This field is required.</div>
                    <div *ngIf="EMPLOYEE_PASSPORT_NO.errors.minlength ">
                        Passport Number should be atleast 6 characters.</div>
                    <div *ngIf="EMPLOYEE_PASSPORT_NO.errors.maxlength ">
                        Passport Number cannot be more than 10 characters.</div>
            </div>
        </div>
    </div>  
            <div class="form-group">
        </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">  
                        <label>Employee Type</label>  
                    <select  class="selectpicker dropdown selectwidth" 
                        id="type" data-live-search="true" 
                        name="EMPLOYEE_TYPE_ID" 
                        #EMPLOYEE_TYPE_ID="ngModel" 
                        [(ngModel)]="service.formData.EMPLOYEE_TYPE_ID" 
                        class="form-control">
                        <option value="null">-- Select Employee Type --</option> 
                            <option *ngFor="let test of employeeTypeList" 
                            value="{{test.EMPLOYEE_TYPE_ID}}">{{test.EMPLOYEE_TYPE_NAME}}</option>
                     </select>
                        </div>
                        <div class="form-group col-md-6">  
                            <label>Title</label>  
                        <select  class="selectpicker dropdown selectwidth" 
                            id="title" 
                            data-live-search="true" 
                            name="TITLE_ID" 
                            #TITLE_ID="ngModel" 
                            [(ngModel)]="service.formData.TITLE_ID" 
                            class="form-control">
                            <option value="null">-- Select Title --</option> 
                                <option *ngFor="let title of titleList" 
                                    [value]="title.TITLE_ID">{{title.TITLE_NAME}}</option>
                         </select>
                            </div>
                </div>
                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label>Physical Address</label>
                        <input placeholder="Employee Physical Address"
                            name="EMPLOYEE_PHYSICAL_ADDRESS" 
                            #EMPLOYEE_PHYSICAL_ADDRESS="ngModel" 
                            [(ngModel)]="service.formData.EMPLOYEE_PHYSICAL_ADDRESS" 
                            class="form-control" 
                            required
                            maxlength="500"
                            minlength="3">
                            <div class="validation-error" *ngIf="EMPLOYEE_PHYSICAL_ADDRESS.invalid && EMPLOYEE_PHYSICAL_ADDRESS.touched">
                                <div *ngIf="EMPLOYEE_PHYSICAL_ADDRESS.errors.required">
                                    This field is required.</div>
                                <div *ngIf="EMPLOYEE_PHYSICAL_ADDRESS.errors.minlength ">
                                    Physical Address should be atleast 3 characters.</div>
                                <div *ngIf="EMPLOYEE_PHYSICAL_ADDRESS.errors.maxlength ">
                                    Physical Address cannot be more than 500 characters.</div>
                    </div></div>
                    <div class="form-group col-md-6">
                        <label>Contact No.</label>
                        <input placeholder="Employee Contact Number"
                            name="EMPLOYEE_CONTACT_NO" #EMPLOYEE_CONTACT_NO="ngModel" 
                            [(ngModel)]="service.formData.EMPLOYEE_CONTACT_NO" 
                            class="form-control" required
                            pattern="[0-9]*"
                            maxlength="14"
                            minlength="7">
                        <div class="validation-error" *ngIf="EMPLOYEE_CONTACT_NO.invalid && EMPLOYEE_CONTACT_NO.touched">
                            <div *ngIf="EMPLOYEE_CONTACT_NO.errors.required">
                                This field is required.</div>
                            <div *ngIf="EMPLOYEE_CONTACT_NO.errors.pattern ">
                                Contact Number can only contain numbers!</div>
                            <div *ngIf="EMPLOYEE_CONTACT_NO.errors.minlength">
                                Contact Number should be atleast 7 characters.</div>
                            <div *ngIf="EMPLOYEE_CONTACT_NO.errors.maxlength">
                                Contact Number cannot be more than 14 characters.</div>
                        </div>
                    </div>
                    </div>
                <button type="submit" class="btn btn-sm btn-secondary text-white btn-block" >Submit</button>
            </form>
            <br>
            <div>
                <a routerLink="/employee-list">
                    <button  class="btn btn-xs btn-info" value="Cancel" >Return</button>
                    </a>
                </div> 
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    
