<div class="jumbotron">
    <h1 class="display-4 text-center">Maintain Agent Details</h1>
    <hr>
<form #form="ngForm" autocomplete="off" class="center" (submit)="onSubmit(form)" >

<div class="form-group">
    <input type="hidden" name="AGENT_ID" #AGENT_ID="ngModel" [(ngModel)]="service.formData.AGENT_ID">
    <!-- <input type="hidden" name="USER_ID" #USER_ID="ngModel" [(ngModel)]="service.formData.USER_ID"> -->
    <div class="form-row">
        <div class="form-group col-md-6" [class.has-error]="AGENT_TYPE_ID.touched && AGENT_TYPE_ID.invalid">
            <label>Registration Personal Type</label><label style="color: red;">  *</label>
            <select name="AGENT_TYPE_ID" #AGENT_TYPE_ID="ngModel" [(ngModel)]="service.formData.AGENT_TYPE_ID" class="form-control selectwidth" required>
                <option value="null">- Select Agent Type -</option>
                <option *ngFor="let at of agenttypeList" value="{{at.AGENT_TYPE_ID}}">{{at.AGENT_TYPE_NAME}}</option>
            </select>
            <div class="help-block" *ngIf="AGENT_TYPE_ID.touched && AGENT_TYPE_ID.invalid" style="color: red; font-size: 80%;">Agent Type is Required!</div>
        </div>
        <div class="form-group  col-md-6" [class.has-error]="COUNTRY_ID.touched && COUNTRY_ID.invalid">
            <label>Country</label><label style="color: red;">  *</label>
            <select name="COUNTRY_ID" #COUNTRY_ID="ngModel" [(ngModel)]="service.formData.COUNTRY_ID" class="form-control selectwidth" required>
                <option value="null">- Select Country -</option>
                <option *ngFor="let country of countryList" value="{{country.COUNTRY_ID}}">{{country.COUNTRY_NAME}}</option>
            </select>
            <div class="help-block" *ngIf="COUNTRY_ID.touched && COUNTRY_ID.invalid" style="color: red; font-size: 80%;">Country is Required!</div>
        </div>  
    </div>

</div>
<div class="form-row">
    
    <div class="form-group col-md-6">
        <label>Passport No.</label><label style="color: red;">  *</label>
        <input 
        placeholder="Passport No."
        name="AGENT_PASSPORT_NO" 
        #AGENT_PASSPORT_NO="ngModel" 
        [(ngModel)]="service.formData.AGENT_PASSPORT_NO" 
        class="form-control" 
        required 
        minlength="9" 
        maxlength="10"
        pattern="[A-Z]{1}[0-9]{8}">
        <div class="validation-error" *ngIf="AGENT_PASSPORT_NO.invalid && AGENT_PASSPORT_NO.touched">
            <div *ngIf="AGENT_PASSPORT_NO.errors.required">Passport No. is Required!</div>
            <div *ngIf="AGENT_PASSPORT_NO.errors.minlength">Passport number should be a minimum of 9 characters!</div>
            <div *ngIf="AGENT_PASSPORT_NO.errors.pattern">Please enter a valid passport number!</div>
        </div>
    </div>
    <div class="form-group  col-md-6">
        <label>Company Registration</label><label style="color: red;">  *</label>
        <input 
        placeholder="Company Registration"
        name="AGENT_COMPANY_REGISTRATION" 
        #AGENT_COMPANY_REGISTRATION="ngModel" 
        [(ngModel)]="service.formData.AGENT_COMPANY_REGISTRATION" 
        class="form-control" 
        required
        minlength="12"
        maxlength="12"
        pattern="[0-9]*">
        <div class="validation-error" *ngIf="AGENT_COMPANY_REGISTRATION.invalid && AGENT_COMPANY_REGISTRATION.touched">
            <div *ngIf="AGENT_COMPANY_REGISTRATION.errors.required">This field is required.</div>
            <div *ngIf="AGENT_COMPANY_REGISTRATION.errors.pattern">Company registration can only contain numbers.</div>
            <div *ngIf="AGENT_COMPANY_REGISTRATION.errors.minlength">Company registration should be a minimum of 9 characters!</div>
        </div>
    </div> 

</div>

<div class="form-row">

    <div class="form-group col-md-6">
        <label>Company Name</label><label style="color: red;">  *</label>
        <input
        placeholder="Company Name" 
        name="AGENT_COMPANY_NAME" 
        #AGENT_COMPANY_NAME="ngModel" 
        [(ngModel)]="service.formData.AGENT_COMPANY_NAME" 
        class="form-control" 
        required
        maxlength="50">
        <div class="validation-error" *ngIf="AGENT_COMPANY_NAME.invalid && AGENT_COMPANY_NAME.touched">This field is required.</div>
    </div>
    <div class="form-group  col-md-6">
        <label>Contact No.</label><label style="color: red;">  *</label>
        <input
        placeholder="Contact No."
        name="AGENT_CONTACT_NO" 
        #AGENT_CONTACT_NO="ngModel" 
        [(ngModel)]="service.formData.AGENT_CONTACT_NO" 
        class="form-control" 
        required
        minlength="10"
        maxlength="14"
        pattern="[0-9]*">
        <div class="validation-error" *ngIf="AGENT_CONTACT_NO.invalid && AGENT_CONTACT_NO.touched">
            <div *ngIf="AGENT_CONTACT_NO.errors.required">This field is required.</div>
            <div *ngIf="AGENT_CONTACT_NO.errors.minlength">Contact number must be atleast 10 characters.</div>
            <div *ngIf="AGENT_CONTACT_NO.errors.pattern">Contact number can only contain numbers.</div>
        </div>
    </div> 

</div>
<div class="form-group">
    <label>Email Address</label><label style="color: red;">  *</label>
    <input 
    placeholder="Email-Address" 
    name="AGENT_EMAIL_ADDRESS" 
    #AGENT_EMAIL_ADDRESS="ngModel" 
    [(ngModel)]="service.formData.AGENT_EMAIL_ADDRESS" 
    class="form-control" 
    required 
    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
    <div class="validation-error" *ngIf="AGENT_EMAIL_ADDRESS.invalid && AGENT_EMAIL_ADDRESS.touched">
        <div *ngIf="AGENT_EMAIL_ADDRESS.errors.required">This field is required.</div>
        <div *ngIf="AGENT_EMAIL_ADDRESS.errors.pattern">Email address entered is invalid.</div>
    </div>
</div>
    <br>

<div class="w3-show-inline-block" >
    <div class="w3-show-inline-block" >
        <button type="submit"  class="btn btn-xs btn-info">Save</button>
        <a routerLink="/profile">
        <button  class="btn btn-xs btn-danger ml-1" >Return </button></a>
    </div>
</div>
</form>
</div>
<!-- (click)="update(this.form)" -->

