<form #userRegistrationForm="ngForm" autocomplete="off" (ngSubmit)="onSubmit(userRegistrationForm)">
     <div class="form-group">
            <label>Username</label>
            <input 
            name="UserName" 
            #UserName="ngModel" 
            [(ngModel)]="user.UserName" 
            class="form-control" 
            required>
            <div class="validation-error" *ngIf="UserName.invalid && UserName.touched">This field is required.</div>
        </div>   
        <div class="form-group" >
            <label>Password</label>
            <input 
            name="Password" 
            #Password="ngModel" 
            [(ngModel)]="user.Password" 
            class="form-control" 
            required 
            type="password">
            <div class="validation-error" *ngIf="Password.invalid && Password.touched">This field is required.</div>
        </div>  
        <div class="row" *ngIf="roles">
            <ul>
              <li *ngFor="let item of roles;let i = index">
                <input type="checkbox" [id]="'roles-'+i" value="{{item.Id}}" [checked]="item.selected"  (change)="updateSelectedRoles(i)">
                <label [for]="'roles-'+i">{{item.Name}}</label>
              </li>
            </ul>
          </div> 
    <div class="row">
        <button type="submit" class="btn btn-sm btn-secondary text-white btn-block" [disabled]="!userRegistrationForm.valid">Submit</button>
    </div>
</form>
